* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ControlWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 10vh;
    background-color: lightgrey;
    overflow-y: scroll;
}

.ControlWindow button {
    margin: 5px;
}

.ControlWindow input {
    margin: 20px;
}

.ControlWindow h6 {
    margin: 10px;
}

.ControlWindow select {
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 38px;
    width: 160px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
.ControlWindow select:hover {
    box-shadow: 1px 1px 5px black;
}

.DisplayWindow {
    margin-top: 40px;
    height: 80vh;
    background-color: white;
}

.candles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.candle {
    background-color: black;
    margin: 4px;
    width: 5px;
}
