* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ControlWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 10vh;
    background-color: white;
}

.ControlWindow button {
    margin: 5px;
}

.ControlWindow input {
    margin: 20px;
}

.ControlWindow h6 {
    margin: 10px;
}

.DisplayWindow {
    margin-top: 20px;
    height: 80vh;
    background-color: white;
}

.candles {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.candle {
    background-color: black;
    margin: 4px;
    width: 5px;
}
