* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ControlWindow {
    display: flex;
    justify-content: center;
    padding: 15px;
    height: 10vh;
    background-color: white;
}

.ControlWindow button {
    margin: 5px;
}

.ControlWindow input {
    margin: 20px;
}

.DisplayWindow {
    height: 90vh;
    background-color: white;
}

.candles {
    display: flex;
    justify-content: center;
}

.candle {
    background-color: black;
    margin: 4px;
    width: 5px;
}
